<aside class="aside">
	<img
		src="../assets/images/logo-adalab.png"
		alt="Imagen de la autora"
		title="Imagen de la autora"
		class="img"
	/>
	<h3>Autora</h3>
	<p>
		Ullamco incididunt adipisicing aute magna diodenoo sexuarl reprehenderit.
	</p>
	<nav>
		<ul>
			<li><a href="#" alt="" title="">Sección 1</a></li>
			<li><a href="#" alt="" title="">Sección 2</a></li>
			<li><a href="#" alt="" title="">Sección 3</a></li>
			<li><a href="#" alt="" title="">Sección 4</a></li>
			<li><a href="#" alt="" title="">Sección 5</a></li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li><a href="#" alt="" title="">Categoría 1</a></li>
			<li><a href="#" alt="" title="">Categoría 2</a></li>
			<li><a href="#" alt="" title="">Categoría 3</a></li>
			<li><a href="#" alt="" title="">Categoría 4</a></li>
			<li><a href="#" alt="" title="">Categoría 5</a></li>
		</ul>
	</nav>
</aside>
