* {
  /* border: 2px solid red;
  margin: 2px; */
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
h3 {
  font-size: 30px;
  font-weight: bold;
}
h4 {
  font-size: 16px;
  font-weight: bold;
}
h5 {
  font-size: 16px;
  font-weight: bold;
}
h6 {
  font-size: 14px;
  font-weight: bold;
}
p {
  font-size: 12px;
}

small {
  color: white;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0, 20px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.header a:visited {
  color: white;
}

.header a:hover {
  padding: 12px;
  color: #1fd760;
}

.logo {
  max-height: 50px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.list {
  padding: 12px;
  list-style-type: none;
}

/* MAIN BODY */

.main {
}

.section-1 {
  background-color: #509bf5;
  background-image: none;
  padding: 20px;
  height: 50vh;
}

.section-2 {
  padding: 20px;
  text-align: center;
}

.benefits {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .images-benefits {
  width: 100%;
  max-width: 200px;
} */

footer {
  background-color: black;
  color: white;
  font-size: 10px;
  height: 10vh;
}

footer a:hover {
  color: grey;
}

.footer-menu {
  display: inline;
}

/* media queries */

@media all and (min-width: 768px) {
  .benefits {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section-1 {
    background-image: url(../images/premium_dancer.png);
    background-repeat: no-repeat;
    background-position: top right;
  }

  article {
    width: 50%;
  }
}

@media all and (min-width: 1200px) {
  .benefits {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
