.container-1 {
  background-color: lightpink;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.container-2 {
  background-color: turquoise;
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: rgb(248, 248, 144);
  height: 100px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: left;
  justify-content: space-between;
}

.dato-1 {
  background-color: grey;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  order: -2;
}

.dato-2 {
  color: rgb(48, 48, 48);
  font-weight: bolder;
}

.dato-3 {
  color: grey;
}

.dato-4 {
  color: white;
  background-color: grey;
  border-radius: 5px;
}

.dato-5 {
  color: grey;
  border: 5px;
  border-color: grey;
  border-radius: 5px;
}
