h1 {
  color: blueviolet;
  font-family: Verdana, sans-serif;
  font-size: 40px;
}
h2 {
  color: yellowgreen;
  font-family: Verdana, sans-serif;
  font-size: 30px;
}
h3 {
  color: teal;
  font-family: Verdana, sans-serif;
  font-size: 25px;
}
h4 {
  color: green;
  font-family: Verdana, sans-serif;
  font-size: 18px;
}
h5 {
  color: orange;
  background-color: rgb(161, 131, 221);
  font-family: Verdana, sans-serif;
  font-size: 22px;
}
.text-link {
  color: rgb(255, 0, 0);
}
.text-link:hover {
  background: red;
  color: yellow;
}
#add-user {
  font-size: 24px;
}
.button {
  background-color: grey;
  border-radius: 20px;
  color: white;
  display: inline-block;
  margin-bottom: 1em;
  padding: 10px 20px;
  text-decoration: none;
}

.button--good {
  background-color: rgb(79, 163, 79);
}

.button--soso {
  background-color: rgb(77, 162, 231);
}

.button--bad {
  background-color: rgb(248, 66, 66);
}
.links {
  color: orange;
}
.page--font {
  color: rebeccapurple;
  background-color: rgb(215, 195, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
footer {
  color: rgb(75, 0, 85);
  font-family: Verdana, sans-serif;
  font-size: 22px;
  font-style: italic;
}
.page-error .page-error-styles .principal {
  font-size: 10px;
}
.page-error {
  font-size: 30px;
}
.page-error-styles {
  color: yellow;
}
.principal {
  background: #000;
}
