h1 {
  color: blueviolet;
  font-family: Verdana, sans-serif;
  font-size: 40px;
}
h2 {
  color: red;
  font-family: Verdana, sans-serif;
  font-size: 30px;
}
h3 {
  color: teal;
  font-family: Verdana, sans-serif;
  font-size: 25px;
}
h4 {
    color: green;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}